<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Коллективный блог</title>
		<style type="text/css">	
			textarea {
				resize: vertical;
			}
			.logbutton {
				margin-right:5%
			}
		</style> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<div id="createpost">
			<div class="text-center">
				<a v-bind:href="serverName+'/main'"><img v-bind:src="serverName+'/index.jpg'"></a>
			</div>
			<div class="text-right">
				<div class="well">
					<div class="row" v-if="user.key">
						<a v-bind:href="serverName+'/user/'+user.id" class="lead">{{user.login}}</a>
						<button v-on:click="exit" class="btn btn-default logbutton">Выйти</button>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
			</div>
			<div class="panel panel-default col-sm-8">
				<div class="panel-body">
					<form class="form-horizontal" v-on:submit.prevent="savepost">
						<div class="form-group">
							<label for="name" class="control-label">Заголовок</label>
							<input v-model="post.name" id="name" class="form-control" placeholder="Введите название">
						</div>
						<div class="form-group">
							<label for="tags" class="control-label">Тэги</label>
							<input v-model="post.tags" id="tags" class="form-control" placeholder="Введите ключевые слова через пробел">
						</div>
						<div class="form-group">
							<label for="area" class="control-label">Текст поста</label>
							<textarea v-model="post.body" id="area" placeholder="Введите текст" class="form-control" rows="8"></textarea>
						</div>
						<div class="form-group text-center">
							<button v-bind:disabled="!post.name||!post.body" class="btn btn-success btn-lg">Сохранить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	<script type="text/javascript">
		var vm = new Vue({
			el: '#createpost',
			data:{
				user:{
					login:'',
					id:'',
					key:''
				},
				post:{
					postId:'',
					name:'',
					body:'',
					tags:'',
					postTime:'',
					userId:'',
					userLogin: ''
				},
				serverName:window.location.origin
			},
			methods: {
				exit: function () {
					if(this.user.key!=localStorage.getItem('BlogUserKey')){
						document.location.href = vm.serverName+'/';
					}
					else {
						axios.defaults.headers.common = { 'Authorization': this.user.key }; 
						axios.get(this.serverName+'/exit')
							.then(function (response) {
								localStorage.removeItem('BlogUserKey');
								document.location.href = vm.serverName+'/';
							})
							.catch(function (error) {
								alert('Ошибка! Сервер не отвечает');
								document.location.href = vm.serverName+'/';
							})
					}
				},
				savepost: function () {
					if(this.user.key!=localStorage.getItem('BlogUserKey')){
						document.location.href = vm.serverName+'/';
					}
					else {
						axios.defaults.headers.common = { 'Authorization': this.user.key }; 
						axios.post(this.serverName+'/savepost', this.post)
							.then(function (response) {
								document.location.href = vm.serverName+'/main';
							})
							.catch(function (error) {
								alert('Ошибка! Сервер не отвечает');
							})
					}
				}
			},
			created: function () {
				this.user.key=localStorage.getItem('BlogUserKey');
				if(this.user.key){
					axios.defaults.headers.common = { 'Authorization': this.user.key }; 
					axios.get(this.serverName+'/giveme')
						.then(function (response) {
							if(response.data==1){
								document.location.href = vm.serverName+'/';
							}
							else {
								vm.user.login=response.data.user_login;
								vm.user.id=response.data.user_id;
							}
						})
						.catch(function (error) {
							alert('Ошибка получения данных о пользователе!');
						})
				}
				else {
					document.location.href = this.serverName+'/';
				}
			}
		})
	</script>
	</body>
</html>