<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Коллективный блог</title>
		<style type="text/css">	
		</style> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<div id="log">
			<div class="text-center">
				<a v-bind:href="serverName+'/'"><img v-bind:src="serverName+'/index.jpg'"></a>
			</div>
			<div class="text-center">
				<h1>Авторизация</h1>
			</div>
			<div class="container text-center">
				<form v-on:submit.prevent="login" class="form-horizontal">
					<div class="form-group">
						<label for="login" class="col-sm-4 control-label">Логин</label>	
						<div class="col-sm-4">
							<input v-model="user.login" id="login" class="form-control" placeholder="Введите логин (E-mail)">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-4 control-label">Пароль</label>
						<div class="col-sm-4">
							<input type="password" v-model="user.password" class="form-control" id="password" placeholder="Введите пароль">
						</div>
					</div>
					<div class="form-group">
						<button v-bind:disabled="!permission" class="btn btn-default btn-lg">Войти</button>
					</div>
				</form>
			</div>
		</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#log',
			data:{
				user:{
					login:'',
					password:''
				},
				serverName:window.location.origin
			},
			computed: {
				permission: function () {
					if(this.user.login!=''&&this.user.password!=''){
						return true;
					}
					else {
						return false;
					}
				}
			},
			methods: {
				login: function () {
					axios.post(this.serverName+'/getin',this.user)
						.then(function (response) {
							if(response.data==1){
								alert('Вход не выполнен! Пользователя не существует');
							}
							else {
								localStorage.setItem('BlogUserKey', response.data);
								document.location.href = vm.serverName+'/main';
							}
						})
						.catch(function (error) {
							alert('Ошибка! Попробуйте провести регистрацию позже');
						})
				}
			}
		})
	</script>
	</body>
</html>