<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Коллективный блог</title>
		<style type="text/css">	
		.postbody {
			white-space: pre; /* Учитываются все пробелы и переносы */ 
		} 
		</style> 
    </head>
    <body>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
			<div id="main">
				<a v-bind:href="serverName+'/main'"><img v-bind:src="serverName+'/index.jpg'"></a>
				<div v-if="!user.key"><button v-on:click="login">Войти</button></div>
				<div v-else="">{{user.login}}<button v-on:click="exit">Выйти</button></div>
				<div v-if="user.key"><button v-on:click="newPost">Добавить пост</button></div>
				<table>
					<tr v-for="post in posts">
						<td>
							<a v-bind:href="serverName+'/user/'+post.userid"><p>{{post.userlogin}}</p></a>
							<p>{{post.posttime.split('T')[1].slice(0,8)}}</p>
							<p>{{post.posttime.split('T')[0]}}</p>
							<template v-if="post.userid==user.id">
								<p><button v-on:click="updatePost(post.postid)">Редактировать</button></p>
								<p><button v-on:click="deletePost(post.postid)">Удалить</button></p>
							</template>
						</td>
						<td>
							<a v-bind:href="serverName+'/post/'+post.postid"><h3>{{post.name}}</h3></a>
							<p><i>{{post.tags}}</i></p>
							<p class="postbody">{{post.body}}</p>
						</td>
					</tr>
				</table>
			</div>
		
		<script type="text/javascript">
			var vm = new Vue({
				el: '#main',
				data:{
					user:{
						login:'',
						id:'',
						key:''
					},
					posts:[],
					serverName:'http://localhost:5000'
				},
				methods: {
					login: function () {
						document.location.href = this.serverName+'/login';
					},
					exit: function () {
						if(this.user.key!=localStorage.getItem('BlogUserKey')){
							document.location.href = vm.serverName+'/';
						}
						else {
							axios.defaults.headers.common = { 'Authorization': this.user.key }; 
							axios.get(this.serverName+'/exit')
								.then(function (response) {
									localStorage.removeItem('BlogUserKey');
									document.location.href = vm.serverName+'/';
								})
								.catch(function (error) {
									alert('Ошибка! Сервер не отвечает');
									document.location.href = vm.serverName+'/';
								})
						}
					},
					newPost: function () {
						document.location.href = this.serverName+'/createpost';
					},
					updatePost: function (postId) {
						document.location.href = this.serverName+'/updatepost/'+postId;
					},
					deletePost: function (postId) {
						if(this.user.key!=localStorage.getItem('BlogUserKey')){
							document.location.href = vm.serverName+'/';
						}
						else {
							axios.defaults.headers.common = { 'Authorization': this.user.key }; 
							axios.delete(this.serverName+'/delpost/'+postId)
								.then(function (response) {
									axios.get(vm.serverName+'/getposts')
										.then(function (response) {
											vm.posts=response.data;
										})
										.catch(function (error) {
											alert('Ошибка получения данных о постах!');
										});
								})
								.catch(function (error) {
									alert('Ошибка! Сервер не отвечает');
									document.location.href = vm.serverName+'/';
								})
						}
					}
				},
				created: function () {
					this.user.key=localStorage.getItem('BlogUserKey');
					if(this.user.key){
						axios.defaults.headers.common = { 'Authorization': this.user.key }; 
						axios.get(this.serverName+'/giveme')
							.then(function (response) {
								if(response.data==1){
									document.location.href = vm.serverName+'/';
								}
								else {
									vm.user.login=response.data.user_login;
									vm.user.id=response.data.user_id;
								}
							})
							.catch(function (error) {
								alert('Ошибка получения данных о пользователе!');
							})
					}
					axios.get(this.serverName+'/getposts')
						.then(function (response) {
							vm.posts=response.data;
						})
						.catch(function (error) {
							alert('Ошибка получения данных о постах!');
						})
				}
			})
			
		</script>
	</body>
</html>