<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Коллективный блог</title>
		<style type="text/css">	
			.postbody {
				white-space: pre-wrap; 
			} 
			.logbutton {
				margin-right:5%
			}
		</style> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
			<div id="main">
				<div class="text-center">
					<a v-bind:href="serverName+'/main'"><img v-bind:src="serverName+'/index.jpg'"></a>
				</div>
				<div class=" text-right">
					<div class="well">
						<div class="row" v-if="!user.key">
							<button v-on:click="login" class="btn btn-default logbutton">Войти</button>
						</div>
						<div class="row" v-else>
							<a v-bind:href="serverName+'/user/'+user.id" class="lead">{{user.login}}</a>
							<button v-on:click="exit" class="btn btn-default logbutton">Выйти</button>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button v-on:click="newPost" v-if="user.key" class="btn btn-success btn-lg" style="margin-bottom:20">Добавить пост</button>
				</div>
				<div v-for="post in posts" class="row">
					<div class="col-md-2">
					</div>
					<div class="panel panel-default col-md-8">
						<div class="panel-body">
							<div class="col-md-3">
									<p style="margin-top:10%"><strong><a v-bind:href="serverName+'/user/'+post.userid">{{post.userlogin}}</a></strong></p>
									<p><cite>{{post.posttime.split('T')[0]}}</cite></p>
									<p><cite>{{post.posttime.split('T')[1].slice(0,5)}}</cite></p>
									<template v-if="post.userid==user.id">
										<p><button v-on:click="updatePost(post.postid)" class="btn btn-warning">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button v-on:click="deletePost(post.postid)" class="btn btn-danger">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
										</p>
									</template>
							</div>
							<div class="panel panel-default col-md-9">
								<div class="panel-heading">
									<a v-bind:href="serverName+'/post/'+post.postid"><h3 class="panel-title"><strong>{{post.name}}</strong></h3></a>
								</div>
								<div class="panel-body">
									<p>
										<span v-for="tag in post.tags.split(' ')">
											<span class="label label-info"><i>#{{tag}}</i></span>
											<span> </span>
										</span>
									</p>
									<p class="postbody">{{post.body}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
					</div>
				</div>
			</div>
		
		<script type="text/javascript">
			var vm = new Vue({
				el: '#main',
				data:{
					user:{
						login:'',
						id:'',
						key:''
					},
					posts:[],
					serverName:window.location.origin
				},
				methods: {
					login: function () {
						document.location.href = this.serverName+'/login';
					},
					exit: function () {
						if(this.user.key!=localStorage.getItem('BlogUserKey')){
							document.location.href = vm.serverName+'/';
						}
						else {
							axios.defaults.headers.common = { 'Authorization': this.user.key }; 
							axios.get(this.serverName+'/exit')
								.then(function (response) {
									localStorage.removeItem('BlogUserKey');
									document.location.href = vm.serverName+'/';
								})
								.catch(function (error) {
									alert('Ошибка! Сервер не отвечает');
									document.location.href = vm.serverName+'/';
								})
						}
					},
					newPost: function () {
						document.location.href = this.serverName+'/createpost';
					},
					updatePost: function (postId) {
						document.location.href = this.serverName+'/updatepost/'+postId;
					},
					deletePost: function (postId) {
						if(this.user.key!=localStorage.getItem('BlogUserKey')){
							document.location.href = vm.serverName+'/';
						}
						else {
							axios.defaults.headers.common = { 'Authorization': this.user.key }; 
							axios.delete(this.serverName+'/delpost/'+postId)
								.then(function (response) {
									axios.get(vm.serverName+'/getposts')
										.then(function (response) {
											vm.posts=response.data;
										})
										.catch(function (error) {
											alert('Ошибка получения данных о постах!');
										});
								})
								.catch(function (error) {
									alert('Ошибка! Сервер не отвечает');
									document.location.href = vm.serverName+'/';
								})
						}
					}
				},
				created: function () {
					this.user.key=localStorage.getItem('BlogUserKey');
					if(this.user.key){
						axios.defaults.headers.common = { 'Authorization': this.user.key }; 
						axios.get(this.serverName+'/giveme')
							.then(function (response) {
								if(response.data==1){
									document.location.href = vm.serverName+'/';
								}
								else {
									vm.user.login=response.data.user_login;
									vm.user.id=response.data.user_id;
								}
							})
							.catch(function (error) {
								alert('Ошибка получения данных о пользователе!');
							})
					}
					axios.get(this.serverName+'/getposts')
						.then(function (response) {
							vm.posts=response.data;
						})
						.catch(function (error) {
							alert('Ошибка получения данных о постах!');
						})
				}
			})
			
		</script>
	</body>
</html>