<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Коллективный блог</title>
		<style type="text/css">	
			.coincide {
				color:red
			}
		</style> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<div id="sign">
			<div class="text-center">
				<a v-bind:href="serverName+'/'"><img v-bind:src="serverName+'/index.jpg'"></a>
			</div>
			<div class="text-center">
				<h1>Регистрация</h1>
			</div>
			<div class="container text-center">
				<form v-on:submit.prevent="sign" class="form-horizontal">
					<div class="form-group">
						<label for="login" class="col-sm-4 control-label">Логин</label>	
						<div class="col-sm-4">
							<input v-model="newUser.login" class="form-control" id="login" placeholder="Введите логин">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-4 control-label">E-mail</label>
						<div class="col-sm-4">
							<input type="email" v-model="newUser.email" class="form-control" id="email" placeholder="Введите e-mail (необязательно)">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-4 control-label">Пароль</label>
						<div class="col-sm-4">
							<input type="password" v-model="newUser.password" class="form-control" id="password" placeholder="Введите пароль">
							<u class="coincide" v-show="coincide">Пароли не совпадают</u>
						</div>
					</div>
					<div class="form-group">
						<label for="confirm" class="col-sm-4 control-label">Пароль</label>
						<div class="col-sm-4">
							<input type="password" v-model="newUser.confirm" class="form-control" id="confirm" placeholder="Повторите пароль">
						</div>
					</div>
					<div class="form-group">
						<button v-bind:disabled="!permission" class="btn btn-default btn-lg">Регистрация</button>
					</div>
				</form>
			</div>
		</div>
	
	<script type="text/javascript">
		var vm = new Vue({
			el: '#sign',
			data:{
				newUser:{
					login:'',
					email:'',
					password:'',
					confirm:'',
				},
				serverName:'http://localhost:5000'
			},
			computed: {
				permission: function () {
					if(this.newUser.login!=''&&this.newUser.password!=''&&this.newUser.confirm!=''&&!vm.coincide){
						return true;
					}
					else {
						return false;
					}
				},
				coincide: function () {
					if(this.newUser.password!=''&&this.newUser.confirm!=''&&this.newUser.password!=this.newUser.confirm){
						return true;
					}
					else {
						return false;
					}
				}
			},
			methods: {
				sign: function () {
					axios.post(this.serverName+'/signup',this.newUser)
						.then(function (response) {
							if(response.data==1){
								alert('Регитрация не выполнена. Пользователь с таким логином или почтой уже существует');
							}
							else if (response.data==0){
								alert('Регитрация прошла успешно. Используйте свои данные для входа');
								document.location.href = vm.serverName+'/login';
							}
						})
						.catch(function (error) {
							alert('Ошибка! Попробуйте провести регистрацию позже');
						})
				}
			}
		})
	</script>
	</body>
</html>